*
{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
body
{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    background-color: white;
}
.header
{
    position: sticky !important;
    top: 0%;
    padding: 15px;
    display: flex;
    gap: 10%;
    align-items: center;
    justify-content: center;
    background-color: inherit;
    box-shadow: .5px .5px 5px 5px rgba(0, 0, 0, 0.116);
    z-index: 1;
}
.header a
{
    text-decoration: none;
    color: inherit;
}
.logo h1
{
    font-weight: 600;
    color: rgba(0, 0, 0, 0.644);
}
.logo h1 a::after
{
    content: ".";
    color: rgb(5, 113, 214);
}
.header_nav
{
    display: inline-block;
}
.header_ul
{
    padding: 0%;
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: large;
    color: rgba(0, 0, 0, 0.432);
}
.header_nav li
{
    list-style: none;
}
.header_ul li a
{
    padding: 10px 5px;
    border: 2px solid transparent;
    transition: .3s all ease-in-out;
}
.header_ul li a:hover
{
    color: rgb(5, 113, 214);
    border-bottom-color: rgb(5, 113, 214);
}
.header_btn a
{
    color: white;
    border-radius: 3px;
    background-color: rgb(5, 113, 214);
    padding: 8px 25px 9px 25px;
    font-weight: 600;
    text-align: center;
    text-wrap: nowrap;
    transition: .3s all ease-in-out;
}
.header_btn a:hover
{
    background-color: rgb(52, 132, 207);
}
.header_menu
{
    display: none;
}
.header_menu_btn
{
    background-color: transparent;
}
.header_menu .header_menu_btn i
{
    font-size: xx-large;
}
.home
{
    padding: 90px 0px 50px 0px; 
    text-align: center;
    overflow: hidden;
}
.home a
{
    text-decoration: none;
}
.home .img
{
    height: 375px;
}
.home img
{
    height: 350px;
    position: relative;
    top: 50px;
    animation: infinite 2s img alternate;
}
@keyframes img {
    0%{top: 25;}
    100%{top: 0px;}
    
}
.home h1
{
    padding: 50px 0px 0px 0px;
    font-size: 50px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.644);
}
.home h1::after
{
    content: "HeroBiz";
    color: rgb(5, 113, 214);
}
.home p
{
    color: rgba(0, 0, 0, 0.5);
    font-size: 22.2px;
    padding: 15px 0px;
}
.getst_div
{
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}
.getst
{
    background-color: rgb(5, 113, 214);
    color: white;
    text-transform: capitalize;
    padding: 10px 27px 12px 27px;
    border-radius: 3px;
    font-size: medium;
    font-weight: 600;
}
.watch
{
    display: flex;
    gap: 2px;
    align-items: center;
    color: inherit;
}
.watch i
{
    color: rgb(5, 113, 214);
    padding-right: 5px;
    font-size: xx-large;
}
.watch span
{
    color: black;
    font-size: large;
}
.getst_div .watch:hover i, .watch:hover span
{
    color: rgb(38, 151, 185) !important;
}
.getst:hover
{
    color: white;
    background-color: rgb(38, 151, 185);
}
.about_4box
{
    padding: 30px 0px 100px 0px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    transition: .5 all;
    overflow: hidden;
}
.about_4box div
{
    width: 300px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: .5px .5px 3px 3px rgb(0, 0, 0, .1);
    position: relative;
    top: 0%;
    transition: all .5s !important;
} 
.about_4box div h3
{
    transition: .5 all;
    padding: 20px 0px;
}
.about_4box div p
{
    line-height: 30px;
    opacity: .7;
    transition: .5 all;
}
.about_4box div i
{
    transition: .5 all;
    color: rgb(0, 130, 170);
    font-size: 37px;
    font-weight: 900;
}
.about_4box div:hover i
{
    transition: .5s all;
    color: white;
}
.about_4box div:hover
{
    transition: all .5s;
    top: -25px;
    left: 0px;
    color: white;
    background-image: linear-gradient(to right bottom, rgb(2, 79, 150), rgb(0, 100, 200), rgb(7, 186, 250));
}
.two_div
{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.two_div .img_play
{
    opacity: .8;
    width: 50%;
    height: 550px;
    background-image: url("https://bootstrapmade.com/demo/templates/HeroBiz/assets/img/onfocus-video-bg.jpg");
    /* background-size: cover; */
    background-position: center;
    background-color: gray;
    position: relative;
}
.two_div .img_play i
{
    font-size: xxx-large;
    color: rgb(5, 113, 214);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all .5s ease-in-out;

    &:hover
    {
        font-size: 70px;
        transition: all .5s ease-in-out;
    }
}
.two_div .img_content
{
    opacity: .8;
    width: 50%;
    height: 550px;
    background-image: url("https://bootstrapmade.com/demo/templates/HeroBiz/assets/img/onfocus-content-bg.jpg");
    background-size: cover;
    background-color: violet;
    color: white;
}
.img_content_div
{
    padding: 80px;
}
.img_content_div h1
{
    font-size: 29px;
}
.img_content_div .p
{
    padding: 10px 0px;
    font-size: medium;
    font-style: italic;
}
.img_content_div div p
{
    font-size: large;
    padding: 10px 0px;
}

.img_content_div div i
{
    font-size: 21px;
    padding-right: 5px;
    color: rgb(5, 113, 214);
}
.img_content a
{
    position: relative;
    top: 50px;
    padding: 10px 20px 11px 20px;
    text-decoration: none;
    color: white;
    background-color: rgb(5, 113, 214);
    border-radius: 3px;
}
.img_content i
{
    position: relative;
    top: 1px;
    left: 0%;
    transition: all .5s ease;
}
.img_content a:hover i
{
    top: 1px;
    left: 10px;
}
.services
{
    /* display: grid; */
    gap: 5px;
    justify-content: center;
    align-items: center;
    padding: 90px 0px 0px 0px;
    overflow: hidden;
}
.services .services_top_content
{
    text-align: center;
}
.services .services_top_content h1
{
    font-size: xxx-large;
    font-weight: 300;
}
.services .services_top_content p
{
    padding: 15px 0px;
    width: 850px;
    margin: auto;
}
.services p
{
    transition: .5s all;
    color: rgba(0, 0, 0, 0.644);
}
.services .services_box_container
{
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.services .services_box_container .services_box
{
    width: 360px;
    height: 270px;
    border-radius: 15px;
    box-shadow: .5px .5px 5px 5px rgb(0, 0, 0, .1);
    position: relative;
    margin-bottom: 100px;
}
.services_box_img
{
    transition: .5s all;
    overflow: hidden !important;
    border-radius: inherit;
}
.services_box:hover img
{
    transform: scale(1.2);
}
.services .services_box_container .services_box img
{
    transition: .5s all;
    width: 360px;
    height: 270px;
    border-radius: inherit;
}
.services .services_box_container .services_box .services_box_content
{
    background-color: rgba(255, 255, 255, 0.918);
    width: 300px;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, 0%);
    border-radius: 10px;
    padding: 15% 7% 7% 7%;
    box-shadow: .5px .5px 5px 5px rgb(0, 0, 0, .1);
    text-align: center;
    word-break: break-all;
}
.services .services_box_container .services_box div i
{
    transition: .5s all;
    font-size: x-large;
    padding: 12px 15px;
    color: white;
    background-color: rgb(5, 113, 214);
    border: 5px solid white;
    border-radius: 50%;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translate(-50%, 0%);
}
.services .services_box_container .services_box div h3
{
    transition: .5s all;

}
.services .services_box_container .services_box div p
{
    padding: 10px 0px;
}
.services_box:hover .services_box_content h3
{
    transition: .5s all;
    color: rgb(5, 113, 214);
}
.services_box:hover .services_box_content i
{
    transition: .5s all;
    color: rgb(5, 113, 214) !important;
    background-color: white !important;
    border: 2.5px solid rgb(5, 113, 214) !important;
}

.team
{
    /* display: grid; */
    gap: 5px;
    justify-content: center;
    align-items: center;
    padding: 90px 0px 50px 0px;
    overflow: hidden;
}
.team .team_top_content
{
    text-align: center;
}
.team .team_top_content h1
{
    font-size: xxx-large;
    font-weight: 300;
}
.team .team_top_content p
{
    padding: 15px 0px;
    width: 850px;
    margin: auto;
}
.team p
{
    transition: .5s all;
    color: rgba(0, 0, 0, 0.534);
}
.team .team_box_container
{
    padding: 50px 0px 0px 0px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.team .team_box_container .team_box
{
    width: 330px;
    height: 270px;
    border-radius: 5px;
    box-shadow: .5px .5px 5px 5px rgb(0, 0, 0, .1);
    position: relative;
    margin-bottom: 100px;
}
.team .team_box_container .team_box img
{
    width: 330px;
    height: 370px;
    border-radius: inherit;
}
.team .team_box_container .team_box .team_box_content
{
    background-color: white;
    width: 250px;
    position: absolute;
    top: 290px;
    left: 50%;
    transform: translate(-50%, 0%);
    border-radius: 10px;
    padding: 25px 25px 25px 25px;
    box-shadow: .5px .5px 5px 5px rgb(0, 0, 0, .1);
    text-align: center;
}
.team .team_box_container .team_box div p
{
    padding: 10px 0px;
    font-size: medium;
}

.team_social_media_i
{
    transition: .5s all;
    font-size: medium;
    color: rgb(5, 113, 214);
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translate(-50%, 0%);
    opacity: 0;
}
.team_social_media_i
{
    display: flex;
    gap: 15px;
}
.team_social_media_i a
{
    color: white;
    text-decoration: none;
    transition: .3s all;
}
.team_social_media_i i
{
    padding: 7px 10px;
    background-color: rgb(5, 113, 214);
    border-radius: 50%;
}
.team_social_media_i a:hover
{
    color: rgb(255, 251, 251);
    transition: .3s all;
}
.team_social_media_i a:hover i
{
    background-color: rgb(94, 165, 223);
}
.team_box:hover .team_social_media_i
{
    opacity: 1;
    transition: .5s all;
}
.portfolio
{
    /* display: grid; */
    gap: 5px;
    justify-content: center;
    align-items: center;
    padding: 90px 0px 50px 0px;
    overflow: hidden;
}
.portfolio .portfolio_top_content
{
    text-align: center !important;
}
.portfolio .portfolio_top_content h1
{
    font-size: xxx-large;
    text-align: center !important;
    font-weight: 300;
}
.portfolio .portfolio_top_content p
{
    padding: 15px 0px;
    width: 850px;
    text-align: center !important;
    margin: auto;
}
.portfolio p
{
    transition: .5s all;
    color: rgba(0, 0, 0, 0.644);
}
.portfolio .portfolio_box_container
{
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5px;
    justify-content: center;
    align-items: center;
}

.portfolio .portfolio_box_container .portfolio_box
{
    width: 300px;
    height: 250px;
    box-shadow: .5px .5px 5px 5px rgb(0, 0, 0, .1);
    position: relative;
}
.portfolio_box_img
{
    width: 300px;
    height: 250px;
    transition: .5s all;
    overflow: hidden !important;
}
.portfolio .portfolio_box_container .portfolio_box img
{
    transition: .5s all;
    width: 300px;
    height: 250px;
}
.portfolio .portfolio_box_container .portfolio_box .portfolio_content_box
{
    background-color: rgba(128, 128, 128, 0.377);
    width: 300px;
    height: 250px;
    position: absolute;
    top: 0%;
    left: 0%;
    text-align: center;
    opacity: 0;
}
.portfolio .portfolio_box_container .portfolio_box div p
{
    padding: 10px 0px;
}
.portfolio_box:hover img
{
    transform: scale(1.2);
}
.portfolio_box:hover .portfolio_content_box
{
    transition: .5s all;
    opacity: 1 !important;
}
.portfolio_content_box
{
    transition: .5s all;    
    align-items: center;
    color: white;
    position: relative;
}
.portfolio_content_box .portfolio_content
{
    display: flex;
    gap: 35%;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 80%;

}
.portfolio_content_box .portfolio_icons
{
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
    font-size: x-large;
}
.footer
{
    padding: 30px 100px;
    display: flex;
    gap: 55%;
    justify-content: center;
    align-items: center;
    background-color: rgba(15, 4, 32, 0.678);
    overflow: hidden;
}
.footer p
{   
    width: 390px;   
    color: white;
}
.footer p a
{
    color: rgb(58, 155, 253);
    text-decoration: none;
}
.footer_social_media_i
{
    display: flex;
    gap: 5px;
    flex-wrap: warp;
    justify-content: center;
    align-items: center;
}
.footer_social_media_i i
{
    color: white;
    background-color: rgba(118, 115, 122, 0.699);
    padding: 7px 9px;
    border-radius: 5px;
}
.footer_social_media_i i:hover
{
    background-color: rgb(5, 113, 214);
}
.service_top_p
    {
        width: 80% !important;
        font-size: large;
    }
    .team_top_p
    {
        width: 80% !important;
        font-size: large;
    }
    .portfolio_top_p
    {
        width: 80% !important;
        font-size: large;
    }


    .contact
    {
        padding-top: 90px;
    }
    .contact_top_content
    {
        text-align: center;
        h1
        {
            font-weight: bold;
            font-size: xxx-large;
        }
        p
        {
            color: rgba(255, 255, 255, 0.5);
            margin: auto;
        }
    }
    .contact-bottom-container
    {
    }
    .contact .contact-main-container
    {
        /* height: 100px; */
        border-top: 3px solid rgb(5, 113, 214);
        border-bottom: 3px solid rgb(5, 113, 214);
        box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.1);
        padding: 25px;
    }
    .contact-main-container textarea
    {
        min-height: 248.3px;
    }
    .contact .contact-main-container svg
    {
        color: rgb(5, 113, 214);
    }
    .contact .contact-main-container .icon
    {
        padding: 9px 13px 11px 13px;
        /* color: white !important; */
        /* background-color: rgb(5, 113, 214); */
    }
    .contact .contact-main-container .icon-box
    {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .contact .contact-main-container
    {
        h1
        {
            font-size: large;
        }
        p
        {
            font-size: medium;
        }
    }

@media screen and (max-width:1230px) {
    .header
    {
        gap: 9%;
    }
    
}
@media screen and (max-width:1200px) {
    .header
    {
        gap: 8%;
    }
    
}
@media screen and (max-width:1170px) {
    .header
    {
        gap: 7%;
    }
    
}
@media screen and (max-width:1140px) {
    .header
    {
        gap: 6%;
    }
    
}
@media screen and (max-width:1110px) {
    .header
    {
        gap: 5%;
    }
    
}
@media screen and (max-width:1090px) {
    .header
    {
        gap: 4%;
    }
    
}
@media screen and (max-width:1060px) {
    .header
    {
        gap: 3%;
    }
    
}
@media screen and (min-width: 1031px) {   
    .header_nav
    {
        display: inline-block !important;
    }

}
@media screen and (max-width:1030px) {
    .header
    {
        gap: 35%;
    }
    .header div
    {
        /* display: inline-block; */
    }
    .header .header_nav
    {
        transition: .5s all;
        display: none;
        position: absolute;
        top: 65px;
        left: 0%;
        background-color: rgba(128, 128, 128, 0.9);
        width: 100%;
    }
    .header .header_ul
    {
        display: block;
        text-align: center;
        
    }
    .header_ul li
    {
        padding: 0%;
    }
    .header_ul a
    {
        display: block;
        color: rgba(255, 255, 255, 0.5);
    }
    .header .header_btn a
    {
        display: none;
    }
    .header_ul a:hover
    {
        background-color: rgba(255, 255, 255, 0.514);
        border: 2px solid rgb(5, 113, 214);
    }
    .header_menu
    {
        display: inline-block;
    }
    .services_box_container
    {
        display: block;
    }
    .service_top_p
    {
        width: 90% !important;
    }
    .team_top_p
    {
        width: 90% !important;
    }
    .portfolio_top_p
    {
        width: 90% !important;
    }
    .two_div
    {
        display: block;
    }
    .two_div
    {
        padding-top: 30px;

        .img_play
        {
            width: 100%;
            background-size: cover;

        }
        .img_content
        {
            width: 100%;
            height: auto !important;
            
            .img_content_div
            {
                padding: 5%;
                
                h1
                {
                    font-size: x-large;
                }
                p
                {
                    font-size: small;
                }
                a
                {
                    top: 0%;
                    padding: 5px 10px 6px 10px;
                    font-size: small;
                }
                i
                {
                    font-size: small;
                }
            }
        }
    }
}
@media screen and (min-width:320px) and (max-width:480px) {
    
    body
    {
    
    }
    .header
    {
        gap: 25%;

        h1
        {
            font-size: x-large;
        }
        .header_menu i
        {
            font-size: x-large !important;
        }
        .header_nav
        {
            overflow: visible !important;
        }
    }
    
    .home
    {
        padding: 70px 0px 30px 0px;
        .img
        {
            height: 230px;
        }
        img
        {
            /* width: 320px; */
            height: 200px;
        }
        h1
        {
            padding: 30px 0px 0px 0px;
            font-size: xx-large;
        }
        p
        {
            font-size: small;
        }
        .getst_div
        {
            margin: 0%;
        }
        .getst
        {
            font-size: small;
            padding: 8px 12px 9px 12px;
        }
        .watch
        {
            i
            {
                font-size: x-large;
            }
            span
            {
                font-size: medium;
            }
        }
    }
    
    .about_4box 
    {
        gap: 30px;
        padding: 25px 0px 30px 0px;
        
        div
        {
            top: auto;
            width: 90%;
        }
        div i
        {
            font-size: large;
        }
        div h3
        {
            font-size: medium;
            padding: 10px 0px;
        }
        div p
        {
            font-size: small;
            line-height: normal;
        }
        div:hover
        {
            position: static !important;
            transform: scale(1.05);
        }
    }

    .two_div
    {
        
        .img_play
        {
            height: 250px;

            

            i
            {
                font-size: large;

                &:hover
                {
                    font-size: xx-large;
                }
            }
        }
        a
        {
            font-size: x-small !important;
        }
    }

    .services
    {
        padding: 30px 0px 70px 0px !important;
        .services_top_content
        {
            h1
            {
                font-size: xx-large !important;                
            }
            p
            {
                padding: 10px 0px;
                font-size: small;
            }
        }
        .services_box_container
        {
            padding: 10px 0px 0px 0px;
            gap: 100px !important;

            .services_box
            {
                margin: 0%;
            }
            .services_box, .img, img
            {
                width: 270px !important;
                height: 240px !important;
            }
            .services_box_content
            {
                width: 230px !important;
                padding: 25px 10px 10px 10px !important;
            }
            h3
            {
                font-size: medium;
            }
            p
            {
                font-size: small;
            }
            i
            {
                font-size: large !important;
                padding: 9px 10px !important;
                border-width: 3px !important;
                top: -25px !important;
            }            
        }

    }

    .team
    {
        padding: 30px 0px 30px 0px;
        .team_top_content
        {
            h1
            {
                font-size: xx-large !important;                
            }
            p
            {
                padding: 10px 0px;
                font-size: small;
            }
        }
        .team_box_container
        {
            padding: 10px 0px 30px 0px;
            gap: 30px !important;

            .team_box
            {
                margin: 0%;
                overflow: hidden;
            }
            .team_box, .img, img
            {
                width: 270px !important;
                height: 300px !important;
            }
            .team_box_content
            {
                top: 235px !important;
                width: 100% !important;
                border-radius: 0px !important;
                padding: 15px 10px 10px 10px !important;
                h3
                {
                    font-size: medium !important;
                }
                p
                {
                    padding: 5px 0px !important;
                    font-size: small !important;
                }
                i
                {
                    font-size: x-small !important;
                }
            }
                        
        }
    }

    .portfolio
    {
        padding: 30px 0px 30px 0px;
        .portfolio_top_content
        {
            h1
            {
                font-size: xx-large !important;                
            }
            p
            {
                padding: 10px 0px;
                font-size: small;
            }
        }
        .portfolio_box_container
        {
            .portfolio_box, .portfolio_box_img, img, .portfolio_content_box
            {
                width: 150px !important;
                height: 150px !important;
            }
            .portfolio_content_box
            {
                .portfolio_content
                {
                    gap: 35px;
                }
                h3
                {
                    font-size: small;
                    font-weight: 400;
                }
                .portfolio_icons
                {
                    gap: 10px;

                    i
                    {
                        font-size: small !important;
                        
                    }
                }
            }
        }
    }
    
    .footer
    {
        display: grid;
        gap: 10px;
        padding: 25px;
        height: 150px;
        
        p
        {
            width: auto;
        }
    }
}